Repository GoogleCloudPlatform/oozie-to-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, autoflake, validate-all-workflows

.pre-commit-config.yaml:

# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
repos:
  - repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
      - id: black
        name: Formats python files using black
        language_version: python3.6
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.6
    hooks:
      - id: insert-license
        name: Add licence for all XML, md files
        files: \.xml$|\.md$
        exclude: ^\.github/.*$
        args:
          - --comment-style
          - <!--| | -->
      - id: insert-license
        name: Add licence for all .pig files
        files: \.pig$
        args:
          - --comment-style
          - "-- "
      - id: insert-license
        name: Add licence for all python/yaml/property files
        files: \.py$|\.properties$|\.yaml$|\.yml$
      - id: insert-license
        name: Add licence for all Jinja templates
        files: \.tpl$
        args:
          - --comment-style
          - "{# | | #}"
      - id: forbid-tabs
  - repo: local
    hooks:
      - id: yamllint
        name: Check yaml files with yamllint
        entry: yamllint -c yamllint-config.yml .
        language: python
        types: [file, yaml]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-encoding-pragma
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: git://github.com/luismayta/pre-commit-mypy
    rev: 0.1.1
    hooks:
      - id: mypy
        name: Checks typing annotations consistency with mypy
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.3.1
    hooks:
      - id: pylint
        name: Checks for common programming errors with pylint
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        files: ^README\.md|CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "2"
  - repo: local
    hooks:
      - id: autoflake
        name: Autoflake - removes unused imports and variables
        entry: autoflake
        language: python
        files: \.py$
        args: ['--in-place', '--remove-all-unused-imports',
               '--remove-unused-variable', '--recursive']
      - id: pytest
        name: Runs all unit tests with pytest
        entry: ./bin/o2a-run-all-unit-tests
        language: script
        pass_filenames: false
        stages: ['push']
        always_run: true
      - id: check-bash-syntax
        name: Check Shell scripts syntax corectness
        language: docker_image
        entry: koalaman/shellcheck:stable -e SC1091 -e SC2181
        types: [shell]
      - id: validate-all-workflows
        name: Validates all oozie workflows
        language: system
        entry: ./bin/o2a-validate-all-workflows
        files: \workflow.xml$

Add support for multiple operators in mapper (#60)
  oozie-to-airflow/converter/oozie_converter.py
  oozie-to-airflow/converter/parsed_node.py
  oozie-to-airflow/converter/parser.py
  oozie-to-airflow/converter/relation.py
  oozie-to-airflow/converter/subworkflow_converter.py
  oozie-to-airflow/mappers/action_mapper.py
  oozie-to-airflow/mappers/base_mapper.py
  oozie-to-airflow/mappers/decision_mapper.py
  oozie-to-airflow/mappers/dummy_mapper.py
  oozie-to-airflow/mappers/null_mapper.py
  oozie-to-airflow/mappers/pig_mapper.py
  oozie-to-airflow/mappers/shell_mapper.py
  oozie-to-airflow/mappers/spark_mapper.py
  oozie-to-airflow/mappers/ssh_mapper.py
  oozie-to-airflow/mappers/subworkflow_mapper.py
  oozie-to-airflow/templates/pig.tpl
  oozie-to-airflow/templates/relations.tpl
  oozie-to-airflow/templates/spark.tpl
  oozie-to-airflow/tests/converter/test_oozie_converter.py
  oozie-to-airflow/tests/converter/test_oozie_parser.py
  oozie-to-airflow/tests/converter/test_parsed_node.py
  oozie-to-airflow/tests/mappers/test_base_mapper.py
  oozie-to-airflow/tests/mappers/test_decision_mapper.py
  oozie-to-airflow/tests/mappers/test_dummy_mapper.py
  oozie-to-airflow/tests/mappers/test_kill_mapper.py
  oozie-to-airflow/tests/mappers/test_pig_mapper.py
  oozie-to-airflow/tests/mappers/test_shell_mapper.py
  oozie-to-airflow/tests/mappers/test_spark_mapper.py
  oozie-to-airflow/tests/mappers/test_ssh_mapper.py
  oozie-to-airflow/tests/mappers/test_subworkflow_mapper.py
Due: autoflake

Fix mock import from unittest
  oozie-to-airflow/tests/converter/test_parsed_node.py
Due: autoflake

uninstalls mock in Travis CI
  .travis.yml
Due: yamllint

Update apache-airflow from 1.10.2 to 1.10.3
  requirements.txt
Due: none

Add event system for mappers (#67)
  oozie-to-airflow/converter/oozie_converter.py
  oozie-to-airflow/converter/parser.py
  oozie-to-airflow/converter/primitives.py
  oozie-to-airflow/converter/relation.py
  oozie-to-airflow/converter/subworkflow_converter.py
  oozie-to-airflow/mappers/base_mapper.py
  oozie-to-airflow/mappers/file_archive_mixins.py
  oozie-to-airflow/mappers/pig_mapper.py
  oozie-to-airflow/tests/converter/test_oozie_converter.py
  oozie-to-airflow/tests/converter/test_oozie_parser.py
Due: autoflake

Remove end and start tasks (#68)
  oozie-to-airflow/converter/mappers.py
  oozie-to-airflow/converter/parser.py
  oozie-to-airflow/mappers/base_mapper.py
  oozie-to-airflow/mappers/end_mapper.py
  oozie-to-airflow/mappers/start_mapper.py
  oozie-to-airflow/tests/converter/test_oozie_parser.py
Due: autoflake

Froamt DAG file using black
  oozie-to-airflow/converter/oozie_converter.py
Due: autoflake

Fix init.sh: missing import and wrong requirements.txt location
  oozie-to-airflow/init.sh
Due: none

Update pre-commit from 1.15.1 to 1.15.2
  requirements.txt
Due: none

Update mypy from 0.700 to 0.701
  requirements.txt
Due: none

Add workflow tests + bug fixing (#82)
  oozie-to-airflow/converter/oozie_converter.py
  oozie-to-airflow/converter/parsed_node.py
  oozie-to-airflow/converter/parser.py
  oozie-to-airflow/converter/primitives.py
  oozie-to-airflow/mappers/end_mapper.py
  oozie-to-airflow/mappers/start_mapper.py
  oozie-to-airflow/tests/converter/test_oozie_parser.py
Due: autoflake

Remove error task, when it's a kill action - fix #76 (#81)
  oozie-to-airflow/mappers/kill_mapper.py
  oozie-to-airflow/tests/converter/test_oozie_parser.py
  oozie-to-airflow/tests/mappers/test_kill_mapper.py
Due: autoflake

Fix file and archive functionality (#74)
  oozie-to-airflow/converter/parser.py
  oozie-to-airflow/examples/pig/workflow.xml
  oozie-to-airflow/mappers/__init__.py
  oozie-to-airflow/mappers/file_archive_mappers.py
  oozie-to-airflow/mappers/pig_mapper.py
  oozie-to-airflow/tests/converter/test_oozie_parser.py
  oozie-to-airflow/tests/mappers/test_archive_mixin.py
  oozie-to-airflow/tests/mappers/test_file_mixin.py
  oozie-to-airflow/tests/mappers/test_pig_mapper.py
Due: autoflake, validate-all-workflows

Enable Travis on all branches
  .travis.yml
Due: yamllint

Adds support for semi-automated system test execution on Composer
  .gitignore
  .pre-commit-config.yaml
  .travis.yml
  oozie-to-airflow/README.md
  oozie-to-airflow/converter/oozie_converter.py
  oozie-to-airflow/converter/parser.py
  oozie-to-airflow/converter/primitives.py
  oozie-to-airflow/converter/subworkflow_converter.py
  oozie-to-airflow/examples/.gitignore
  oozie-to-airflow/examples/decision/configuration-template.properties
  oozie-to-airflow/examples/decision/configuration.template.properties
  oozie-to-airflow/examples/demo/configuration.template.properties
  oozie-to-airflow/examples/pig/configuration.template.properties
  oozie-to-airflow/examples/shell/configuration-template.properties
  oozie-to-airflow/examples/shell/configuration.template.properties
  oozie-to-airflow/examples/subwf/configuration.template.properties
  oozie-to-airflow/integration/prepare_pig_test.bash
  oozie-to-airflow/integration/run_decision_test_with_airflow.bash
  oozie-to-airflow/integration/run_pig_test_with_airflow.bash
  oozie-to-airflow/integration/run_shell_test_with_airflow.bash
  oozie-to-airflow/integration/run_subwf_test_with_airflow.bash
  oozie-to-airflow/mappers/base_mapper.py
  oozie-to-airflow/mappers/subworkflow_mapper.py
  oozie-to-airflow/o2a.py
  oozie-to-airflow/run-all-conversions
  oozie-to-airflow/run-all-unit-tests
  oozie-to-airflow/run-sys-test
  oozie-to-airflow/run-sys-test-complete
  oozie-to-airflow/tests/mappers/test_subworkflow_mapper.py
  requirements.txt
Due: yamllint, autoflake

Added validation of XML files according to XSD schema of oozie
  .pre-commit-config.yaml
  .travis.yml
  README.md
  oozie-to-airflow/examples/el/workflow.xml
  oozie-to-airflow/examples/pig/workflow.xml
  oozie-to-airflow/examples/shell/workflow.xml
  oozie-to-airflow/examples/ssh/workflow.xml
  oozie-to-airflow/schema/all-schemas-1.0.xsd
  oozie-to-airflow/schema/oozie-common-1.0.xsd
  oozie-to-airflow/schema/oozie-workflow-1.0.xsd
  oozie-to-airflow/schema/shell-action-1.0.xsd
  oozie-to-airflow/schema/spark-action-1.0.xsd
  oozie-to-airflow/schema/ssh-action-0.2.xsd
  oozie-to-airflow/validate-all-workflows
Due: yamllint, validate-all-workflows

Add tests for subwf example (#101)
  .travis.yml
  oozie-to-airflow/mappers/subworkflow_mapper.py
  oozie-to-airflow/tests/converter/test_oozie_parser.py
Due: yamllint, autoflake

Add missing import to sys (#106)
  oozie-to-airflow/init.sh
Due: none

Add composer Web UI URL preview and auto bucket discovery (#100)
  oozie-to-airflow/run-sys-test
Due: none

Update j2cli from 0.3.6.post1 to 0.3.7
  requirements.txt
Due: none

Change REMOTE_TEST_APP_NAME to be only LOCAL_APP_NAME
  oozie-to-airflow/run-sys-test
Due: none

Cleaning in __init__.py files
  oozie-to-airflow/converter/__init__.py
  oozie-to-airflow/mappers/__init__.py
Due: autoflake

added Dataproc init-action for Oozie 5.1.0 (#111)
  README.md
  dataproc/example-map-reduce-job.sh
  dataproc/oozie-5.1.sh
Due: none

Fix: add support for EL in File/Archive extractors (#107)
  oozie-to-airflow/mappers/file_archive_extractors.py
  oozie-to-airflow/mappers/pig_mapper.py
  oozie-to-airflow/tests/mappers/test_archive_extractor.py
  oozie-to-airflow/tests/mappers/test_archive_mixin.py
  oozie-to-airflow/tests/mappers/test_file_extractor.py
  oozie-to-airflow/tests/mappers/test_file_mixin.py
Due: autoflake

Add MapReduce mapper
  oozie-to-airflow/README.md
  oozie-to-airflow/converter/mappers.py
  oozie-to-airflow/converter/oozie_converter.py
  oozie-to-airflow/examples/mapreduce/.gitignore
  oozie-to-airflow/examples/mapreduce/configuration.template.properties
  oozie-to-airflow/examples/mapreduce/input/Word_Count_input.txt
  oozie-to-airflow/examples/mapreduce/job.properties
  oozie-to-airflow/examples/mapreduce/lib/wordcount.jar
  oozie-to-airflow/examples/mapreduce/workflow.xml
  oozie-to-airflow/mappers/mapreduce_mapper.py
  oozie-to-airflow/templates/mapreduce.tpl
  oozie-to-airflow/tests/converter/test_oozie_converter.py
  oozie-to-airflow/tests/mappers/test_archive_extractor.py
  oozie-to-airflow/tests/mappers/test_file_extractor.py
  oozie-to-airflow/tests/mappers/test_mapreduce_mapper.py
  oozie-to-airflow/tests/utils/test_el_utils.py
  oozie-to-airflow/utils/el_utils.py
  oozie-to-airflow/utils/file_archive_extractors.py
Due: autoflake, validate-all-workflows

Add FS Mapper - close #19 (#61)
  oozie-to-airflow/converter/exceptions.py
  oozie-to-airflow/converter/mappers.py
  oozie-to-airflow/converter/primitives.py
  oozie-to-airflow/examples/fs/configuration.template.properties
  oozie-to-airflow/examples/fs/job.properties
  oozie-to-airflow/examples/fs/workflow.xml
  oozie-to-airflow/examples/pig/workflow.xml
  oozie-to-airflow/mappers/fs_mapper.py
  oozie-to-airflow/mappers/prepare_mixin.py
  oozie-to-airflow/templates/fs.tpl
  oozie-to-airflow/templates/fs_op.tpl
  oozie-to-airflow/tests/converter/test_oozie_parser.py
  oozie-to-airflow/tests/mappers/test_fs_mapper.py
  oozie-to-airflow/tests/mappers/test_mapreduce_mapper.py
  oozie-to-airflow/tests/mappers/test_prepare_mixin.py
  oozie-to-airflow/tests/mappers/test_shell_mapper.py
  oozie-to-airflow/tests/utils/test_el_utils.py
  oozie-to-airflow/tests/utils/test_relation_utils.py
  oozie-to-airflow/utils/el_utils.py
  oozie-to-airflow/utils/relation_utils.py
  pylintrc
Due: autoflake, validate-all-workflows

Don't delete end task, when it's used by decision node Fix #90 (#91)
  oozie-to-airflow/mappers/end_mapper.py
  oozie-to-airflow/tests/converter/test_oozie_parser.py
  oozie-to-airflow/tests/mappers/test_end_mapper.py
  oozie-to-airflow/tests/mappers/test_start_mapper.py
Due: autoflake

Add parse-phase test for workflow example (#118)
  oozie-to-airflow/tests/converter/test_oozie_parser.py
Due: autoflake

Add detection of missing configuration.properties to o2a.py
  oozie-to-airflow/converter/oozie_converter.py
  oozie-to-airflow/o2a.py
  oozie-to-airflow/utils/constants.py
  oozie-to-airflow/utils/el_utils.py
Due: autoflake

Update README to reflect recent changes and additions
  oozie-to-airflow/README.md
Due: none

Update j2cli from 0.3.7 to 0.3.8 (#122)
  requirements.txt
Due: none

Change default trigger rule to ALL_SUCCESS
  oozie-to-airflow/converter/parsed_node.py
  oozie-to-airflow/tests/converter/test_parsed_node.py
Due: autoflake

Fix FS mapper: add -p flag to mkdir to create missing folders
  oozie-to-airflow/mappers/fs_mapper.py
  oozie-to-airflow/tests/mappers/test_fs_mapper.py
Due: autoflake

Fix Shell mapper: update it to current way of handling the prepare task
  oozie-to-airflow/mappers/shell_mapper.py
Due: autoflake

Enhance the prepare-configuration step of run-sys-test
  oozie-to-airflow/run-all-conversions
  oozie-to-airflow/run-sys-test
  oozie-to-airflow/run-sys-test-complete
Due: none

Update demo workflow for the presentation
  oozie-to-airflow/examples/demo/workflow.xml
  oozie-to-airflow/tests/converter/test_oozie_parser.py
Due: autoflake, validate-all-workflows

Restructured example apps to have cleaner HDFS installation/sys tests
  .gitignore
  oozie-to-airflow/README.md
  oozie-to-airflow/converter/oozie_converter.py
  oozie-to-airflow/examples/decision/job.properties
  oozie-to-airflow/examples/demo/assets/id.pig
  oozie-to-airflow/examples/demo/job.properties
  oozie-to-airflow/examples/el/job.properties
  oozie-to-airflow/examples/fs/job.properties
  oozie-to-airflow/examples/fs/workflow.xml
  oozie-to-airflow/examples/mapreduce/.gitignore
  oozie-to-airflow/examples/mapreduce/assets/input/Word_Count_input.txt
  oozie-to-airflow/examples/mapreduce/assets/lib/wordcount.jar
  oozie-to-airflow/examples/mapreduce/job.properties
  oozie-to-airflow/examples/mapreduce/workflow.xml
  oozie-to-airflow/examples/pig/assets/id.pig
  oozie-to-airflow/examples/pig/assets/input-data/test-data.txt
  oozie-to-airflow/examples/pig/assets/test_dir/test.txt
  oozie-to-airflow/examples/pig/assets/test_dir/test2.zip
  oozie-to-airflow/examples/pig/assets/test_dir/test3.zip
  oozie-to-airflow/examples/pig/job.properties
  oozie-to-airflow/examples/pig/workflow.xml
  oozie-to-airflow/examples/shell/job.properties
  oozie-to-airflow/examples/shell/workflow.xml
  oozie-to-airflow/examples/ssh/job.properties
  oozie-to-airflow/examples/subwf/job.properties
  oozie-to-airflow/examples/subwf/workflow.xml
  oozie-to-airflow/run-sys-test
  oozie-to-airflow/run-sys-test-complete
  oozie-to-airflow/tests/converter/test_oozie_parser.py
  oozie-to-airflow/tests/mappers/test_pig_mapper.py
  oozie-to-airflow/tests/mappers/test_subworkflow_mapper.py
Due: autoflake, validate-all-workflows

Remove unneeded prepare-composer phase
  oozie-to-airflow/README.md
  oozie-to-airflow/run-sys-test
  oozie-to-airflow/run-sys-test-complete
Due: none

FS example works now on both oozie and composer
  oozie-to-airflow/examples/fs/workflow.xml
Due: validate-all-workflows

Working subwf
  oozie-to-airflow/examples/subwf/job.properties
Due: none
