Repository GoogleCloudPlatform/oozie-to-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, autoflake, validate-all-workflows

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml .
  language: python

autoflake:
  name: Autoflake - removes unused imports and variables
  entry: autoflake
  language: python
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variable
  - --recursive

validate-all-workflows:
  name: Validates all oozie workflows
  language: system
  entry: ./bin/o2a-validate-all-workflows

Add shell access to airflow cluster (#293)
  CONTRIBUTING.md
  bin/o2a-run-sys-test
  bin/o2a-run-sys-test-complete
Due: none

Remove redundant type defintion (#296)
  o2a/mappers/decision_mapper.py
  o2a/mappers/distcp_mapper.py
  o2a/mappers/dummy_mapper.py
  o2a/mappers/fs_mapper.py
  o2a/mappers/git_mapper.py
  o2a/mappers/join_mapper.py
  o2a/mappers/mapreduce_mapper.py
  o2a/mappers/pig_mapper.py
  o2a/mappers/shell_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/mappers/ssh_mapper.py
  o2a/mappers/subworkflow_mapper.py
Due: autoflake

Add email action XSD
  o2a/schema/all-schemas-1.0.xsd
  o2a/schema/email-action-0.2.xsd
Due: none

Add email example
  examples/email/configuration.template.properties
  examples/email/hdfs/workflow.xml
  examples/email/job.properties
Due: validate-all-workflows

Add email mapper
  bin/o2a-run-sys-test-complete
  examples/email/hdfs/workflow.xml
  examples/email/job.properties
  o2a/converter/mappers.py
  o2a/mappers/email_mapper.py
  o2a/templates/email.tpl
  pylintrc
  tests/mappers/test_email_mapper.py
Due: autoflake, validate-all-workflows

Add README information
  README.md
Due: none

Add Workflow parser unit test case for email
  o2a/mappers/email_mapper.py
  o2a/templates/email.tpl
  pylintrc
  tests/converter/test_workflow_xml_parser.py
  tests/mappers/test_email_mapper.py
Due: autoflake

Fix import statements in GitMapper (#299)
  o2a/mappers/git_mapper.py
Due: autoflake

Highlight the differences between Composer and Dataproc (#297)
  CONTRIBUTING.md
  bin/o2a-run-sys-test
  bin/o2a-run-sys-test-complete
Due: none

Unify retriving text from node (#306)
  o2a/mappers/pig_mapper.py
  o2a/mappers/shell_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/mappers/ssh_mapper.py
  o2a/mappers/subworkflow_mapper.py
  o2a/utils/xml_utils.py
Due: autoflake

Allows o2a to be installed with PIP install after Werkzeug drama (#309)
  .gitignore
  requirements.txt
Due: none

Java mapper (#300)
  .pre-commit-config.yaml
  README.md
  bin/o2a-run-sys-test-complete
  examples/java/configuration.template.properties
  examples/java/hdfs/lib/demo-java-main.jar
  examples/java/hdfs/workflow.xml
  examples/java/job.properties
  o2a/converter/constants.py
  o2a/converter/mappers.py
  o2a/converter/oozie_converter.py
  o2a/converter/workflow.py
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/java_mapper.py
  o2a/templates/java.tpl
  o2a/utils/file_utils.py
  tests/converter/test_workflow_xml_parser.py
  tests/mappers/test_java_mapper.py
Due: yamllint, autoflake, validate-all-workflows

Fixed docs for generated output (#307)
  README.md
Due: none

Improve parsing of el functions (#261)
  o2a/converter/renderers.py
  o2a/o2a_libs/el_parser.py
  o2a/o2a_libs/el_wf_functions.py
  o2a/o2a_libs/functions.py
  o2a/templates/workflow.tpl
  tests/converter/test_renderers.py
  tests/o2a_libs/test_el_parser.py
  tests/test_templates.py
Due: autoflake

Fixed pytest error - name of a class that can be detected as test (#313)
  bin/o2a-run-all-unit-tests
  requirements.txt
  tests/mappers/test_action_mapper.py
Due: autoflake

Bump flake8 from 3.7.7 to 3.7.8 (#311)
  requirements.txt
Due: none

Replaced pyup badge with Dependabot one (#316)
  README.md
Due: none

Pytest only works on push (#318)
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: yamllint

Fix to pre-commit docs (#319)
  CONTRIBUTING.md
Due: none

Add checking the task execution status
  bin/o2a-run-sys-test
Due: none

Rename scp functions
  bin/o2a-run-sys-test
Due: none

Copy artifacts to local filesystem
  .gitignore
  CONTRIBUTING.md
  bin/o2a-run-sys-test
Due: none

Add the ability to compare artifacts
  CONTRIBUTING.md
  bin/o2a-run-sys-test
  bin/o2a-run-sys-test-complete
Due: none

Add Workflow Job Status Notification (#280)
  examples/advancedflow/job.properties
  examples/fs/job.properties
  examples/git/job.properties
  o2a/converter/oozie_converter.py
  o2a/converter/workflow.py
  o2a/o2a.py
  o2a/templates/http.tpl
  o2a/templates/http_command.tpl
  o2a/transformers/add_workflow_notificaton_transformer.py
  o2a/transformers/base_transformer.py
  o2a/transformers/remove_end_transformer.py
  o2a/transformers/remove_fork_transformer.py
  o2a/transformers/remove_inaccessible_node_transformer.py
  o2a/transformers/remove_join_transformer.py
  o2a/transformers/remove_kill_transformer.py
  o2a/transformers/remove_start_transformer.py
  tests/converter/test_oozie_converter.py
  tests/transformers/test_add_workflow_notification_transformer.py
  tests/transformers/test_inaccessible_node_transformer.py
  tests/transformers/test_remove_end_transformer.py
  tests/transformers/test_remove_fork_transformer.py
  tests/transformers/test_remove_join_transformer.py
  tests/transformers/test_remove_kill_transformer.py
  tests/transformers/test_remove_start_transformer.py
Due: autoflake

Bump mypy from 0.711 to 0.720 (#333)
  .pre-commit-config.yaml
  .travis.yml
  mypy.ini
  requirements.txt
Due: yamllint

Bump pydeps from 1.7.2 to 1.7.3 (#329)
  requirements.txt
Due: none

Change 'Jira' to 'Github issue' in the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Updated README with links to relevant issues. (#345)
  README.md
Due: none

Add OozieNode, OozieActionNode and OozieControlNode entities
  o2a/converter/oozie_converter.py
  o2a/converter/oozie_node.py
  o2a/converter/workflow.py
  o2a/converter/workflow_xml_parser.py
  o2a/transformers/remove_inaccessible_node_transformer.py
  tests/converter/test_oozie_converter.py
  tests/converter/test_renderers.py
  tests/mappers/test_action_mapper.py
  tests/transformers/test_inaccessible_node_transformer.py
  tests/transformers/test_remove_end_transformer.py
  tests/transformers/test_remove_fork_transformer.py
  tests/transformers/test_remove_join_transformer.py
  tests/transformers/test_remove_kill_transformer.py
  tests/transformers/test_remove_start_transformer.py
Due: autoflake

Maximum level of TOC set to 2 (#346)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
Due: yamllint

Updated diagram (#347)
  images/o2a-dependecy-cycles.png
  images/o2a-dependencies.png
Due: none

Mark DAGRun as failed when workflow failed (#339)
  o2a/templates/http_command.tpl
  o2a/transformers/add_workflow_notificaton_transformer.py
  tests/transformers/test_add_workflow_notification_transformer.py
Due: autoflake

Format string usign fstring (#327)
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/mapreduce_mapper.py
  o2a/mappers/pig_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/mappers/ssh_mapper.py
  o2a/o2a_libs/el_wf_functions.py
  o2a/o2a_libs/functions.py
  o2a/utils/file_archive_extractors.py
  o2a/utils/xml_utils.py
  tests/mappers/test_subworkflow_mapper.py
Due: autoflake

Adds limitations in README.md (#348)
  README.md
Due: none

Use new parser for properties file parsing (#321)
  bin/o2a-run-all-unit-tests
  o2a/converter/property_parser.py
  o2a/o2a_libs/el_parser.py
  o2a/o2a_libs/el_wf_functions.py
  o2a/o2a_libs/functions.py
  o2a/utils/el_utils.py
  tests/mappers/test_subworkflow_mapper.py
  tests/o2a_libs/test_el_parser.py
  tests/o2a_libs/test_functions.py
  tests/utils/test_el_utils.py
Due: autoflake

Bump j2cli from 0.3.10 to 0.3.11 (#351)
  requirements.txt
Due: none

Reverting j2cli to 0.3.10 (0.3.11 was withdrawn from pypi) (#352)
  requirements.txt
Due: none

Multiple fixes in README (#350)
  .pre-commit-config.yaml
  README.md
  utils/LICENSE.txt
Due: yamllint

Fix travis build on forks (#273)
  .travis.yml
  CONTRIBUTING.md
Due: yamllint

Fix small errors in CONTRIBUTING (#375)
  CONTRIBUTING.md
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  autoflake: any of: \.py$
  validate-all-workflows: any of: \workflow.xml$
