Repository GoogleCloudPlatform/oozie-to-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, autoflake, validate-all-workflows

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml .
  language: python

autoflake:
  name: Autoflake - removes unused imports and variables
  entry: autoflake
  language: python
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variable
  - --recursive

validate-all-workflows:
  name: Validates all oozie workflows
  language: system
  entry: ./bin/o2a-validate-all-workflows

Updated diagram
  images/o2a-dependecy-cycles.png
  images/o2a-dependencies.png
Due: none

Maximum level of TOC set to 2 (#346)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
Due: yamllint

Updated diagram (#347)
  images/o2a-dependecy-cycles.png
  images/o2a-dependencies.png
Due: none

Mark DAGRun as failed when workflow failed (#339)
  o2a/templates/http_command.tpl
  o2a/transformers/add_workflow_notificaton_transformer.py
  tests/transformers/test_add_workflow_notification_transformer.py
Due: autoflake

Format string usign fstring
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/mapreduce_mapper.py
  o2a/mappers/pig_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/mappers/ssh_mapper.py
  o2a/o2a_libs/el_wf_functions.py
  o2a/o2a_libs/functions.py
  o2a/utils/file_archive_extractors.py
  o2a/utils/xml_utils.py
  tests/mappers/test_subworkflow_mapper.py
Due: autoflake

Adds limitations in README.md
  README.md
Due: none

Format string usign fstring (#327)
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/mapreduce_mapper.py
  o2a/mappers/pig_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/mappers/ssh_mapper.py
  o2a/o2a_libs/el_wf_functions.py
  o2a/o2a_libs/functions.py
  o2a/utils/file_archive_extractors.py
  o2a/utils/xml_utils.py
  tests/mappers/test_subworkflow_mapper.py
Due: autoflake

Update README.md
  README.md
Due: none

Adds limitations in README.md (#348)
  README.md
Due: none

Use new parser for properties file parsing
  bin/o2a-run-all-unit-tests
  o2a/converter/property_parser.py
  o2a/o2a_libs/el_parser.py
  o2a/o2a_libs/el_wf_functions.py
  o2a/o2a_libs/functions.py
  o2a/utils/el_utils.py
  tests/mappers/test_subworkflow_mapper.py
  tests/o2a_libs/test_el_parser.py
  tests/o2a_libs/test_functions.py
  tests/utils/test_el_utils.py
Due: autoflake

Use new parser for properties file parsing (#321)
  bin/o2a-run-all-unit-tests
  o2a/converter/property_parser.py
  o2a/o2a_libs/el_parser.py
  o2a/o2a_libs/el_wf_functions.py
  o2a/o2a_libs/functions.py
  o2a/utils/el_utils.py
  tests/mappers/test_subworkflow_mapper.py
  tests/o2a_libs/test_el_parser.py
  tests/o2a_libs/test_functions.py
  tests/utils/test_el_utils.py
Due: autoflake

Use new parser for properties file parsing
  o2a/o2a_libs/el_parser.py
  o2a/o2a_libs/el_wf_functions.py
  o2a/utils/el_utils.py
  tests/o2a_libs/test_el_basic_functions.py
  tests/o2a_libs/test_el_parser.py
Due: autoflake

Adds more tests for functions module
  tests/o2a_libs/test_el_basic_functions.py
Due: autoflake

fixup! Adds more tests for functions module
  o2a/o2a_libs/el_parser.py
  tests/o2a_libs/test_el_parser.py
Due: autoflake

Use wf:user() instead of userName
  README.md
  examples/advancedflow/hdfs/workflow.xml
  examples/advancedflow/job.properties
  examples/childwf/hdfs/workflow.xml
  examples/childwf/job.properties
  examples/decision/hdfs/workflow.xml
  examples/decision/job.properties
  examples/demo/hdfs/workflow.xml
  examples/demo/job.properties
  examples/distcp/hdfs/workflow.xml
  examples/distcp/job.properties
  examples/el/job.properties
  examples/email/hdfs/workflow.xml
  examples/email/job.properties
  examples/fs/hdfs/workflow.xml
  examples/fs/job.properties
  examples/git/hdfs/workflow.xml
  examples/git/job.properties
  examples/hive/hdfs/workflow.xml
  examples/hive/job.properties
  examples/java/job.properties
  examples/mapreduce/hdfs/workflow.xml
  examples/mapreduce/job.properties
  examples/pig/hdfs/workflow.xml
  examples/pig/job.properties
  examples/shell/hdfs/workflow.xml
  examples/shell/job.properties
  examples/spark/hdfs/workflow.xml
  examples/spark/job.properties
  examples/ssh/job.properties
  examples/subwf/hdfs/workflow.xml
  examples/subwf/job.properties
  o2a/mappers/git_mapper.py
Due: autoflake, validate-all-workflows

Implement decision node
  examples/decision/hdfs/workflow.xml
  o2a/mappers/decision_mapper.py
  o2a/o2a_libs/el_wf_functions.py
  o2a/o2a_libs/functions.py
  o2a/templates/decision.tpl
  tests/mappers/test_decision_mapper.py
  tests/mappers/test_distcp_mapper.py
  tests/o2a_libs/test_el_parser.py
  tests/test_templates.py
Due: autoflake, validate-all-workflows

Fix travis build on forks
  .travis.yml
  CONTRIBUTING.md
Due: yamllint

Fixed SSH description
  README.md
Due: none

Add an 'Airflow-specific optimisations' section in README
  README.md
Due: none

Ordering the 'Installing from sources' section
  README.md
Due: none

Moving simpler examples to the beginning
  README.md
Due: none

Fix incorrect directory references in 'EL Functions'
  README.md
Due: none

Fixed demo description
  README.md
Due: none

Grouped 'Fork and Join' together to better showcase the common code example
  README.md
Due: none

Add links to Oozie docs when describing specific limitations
  README.md
Due: none

Moved LICENSE.txt to a 'utils' folder
  .pre-commit-config.yaml
  utils/LICENSE.txt
Due: yamllint

Added 'Prerequisite' and 'Running' in all examples' descriptions
  README.md
Due: none

Fix links to examples sections
  README.md
Due: none

Reverting j2cli to 0.3.10 (0.3.11 was withdrawn from pypi)
  requirements.txt
Due: none

Reverting j2cli to 0.3.10 (0.3.11 was withdrawn from pypi) (#352)
  requirements.txt
Due: none

Multiple fixes in README (#350)
  .pre-commit-config.yaml
  README.md
  utils/LICENSE.txt
Due: yamllint

Fix travis build on forks (#273)
  .travis.yml
  CONTRIBUTING.md
Due: yamllint

Fix small errors in CONTRIBUTING
  CONTRIBUTING.md
Due: none

Fix small errors in CONTRIBUTING (#375)
  CONTRIBUTING.md
Due: none

Implement fs functions
  README.md
  o2a/mappers/decision_mapper.py
  o2a/o2a_libs/el_basic_functions.py
  o2a/o2a_libs/el_fs_functions.py
  o2a/o2a_libs/functions.py
  o2a/utils/el_utils.py
  tests/converter/test_oozie_converter.py
  tests/o2a_libs/test_el_basic_functions.py
  tests/o2a_libs/test_el_fs_functions.py
  tests/o2a_libs/test_el_parser.py
Due: autoflake

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  autoflake: any of: \.py$
  validate-all-workflows: any of: \workflow.xml$
