Repository GoogleCloudPlatform/oozie-to-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, autoflake, validate-all-workflows

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml .
  language: python

autoflake:
  name: Autoflake - removes unused imports and variables
  entry: autoflake
  language: python
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variable
  - --recursive

validate-all-workflows:
  name: Validates all oozie workflows
  language: system
  entry: ./bin/o2a-validate-all-workflows

Update README.md and pyproject.toml files
  o2a/o2a_libs/README.md
  o2a/o2a_libs/pyproject.toml
  setup.py
Due: autoflake

Make scripts executable
  .kokoro/kokoro_build.sh
  .kokoro/run_tests.sh
Due: none

Add python env setup for run_tests.sh script
  .kokoro/run_tests.sh
Due: none

Add Kokoro scripts
  .kokoro/kokoro_build.sh
  .kokoro/presubmit.cfg
  .kokoro/run_tests.sh
Due: none

Create Kokoro CI for tests (#699)
  .kokoro/kokoro_build.sh
  .kokoro/presubmit.cfg
  .kokoro/run_tests.sh
Due: none

Update requirements
  requirements.txt
Due: none

Update templates and mappers for action node
  o2a/mappers/distcp_mapper.py
  o2a/mappers/email_mapper.py
  o2a/mappers/fs_mapper.py
  o2a/mappers/git_mapper.py
  o2a/mappers/hive_mapper.py
  o2a/mappers/java_mapper.py
  o2a/mappers/mapreduce_mapper.py
  o2a/mappers/pig_mapper.py
  o2a/mappers/shell_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/mappers/ssh_mapper.py
  o2a/mappers/subworkflow_mapper.py
  o2a/templates/distcp.tpl
  o2a/templates/email.tpl
  o2a/templates/fs_op.tpl
  o2a/templates/git.tpl
  o2a/templates/hive.tpl
  o2a/templates/http.tpl
  o2a/templates/java.tpl
  o2a/templates/mapreduce.tpl
  o2a/templates/pig.tpl
  o2a/templates/prepare.tpl
  o2a/templates/shell.tpl
  o2a/templates/spark.tpl
  o2a/templates/ssh.tpl
  tests/converter/test_oozie_converter.py
  tests/mappers/test_hive_mapper.py
  tests/mappers/test_java_mapper.py
  tests/mappers/test_spark_mapper.py
  tests/test_templates.py
Due: autoflake

Update mappers and templates for control nodes
  o2a/converter/workflow.py
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/base_mapper.py
  o2a/mappers/decision_mapper.py
  o2a/mappers/dummy_mapper.py
  o2a/o2a_libs/el_wf_functions.py
  o2a/templates/decision.tpl
  o2a/templates/dummy.tpl
  o2a/templates/kill.tpl
  o2a/templates/workflow_dot.tpl
  tests/converter/test_oozie_converter.py
  tests/test_templates.py
Due: autoflake

Update documentation
  README.md
  dataproc/oozie-5.2.sh
Due: none

Update templates
  o2a/templates/decision.tpl
  o2a/templates/hive.tpl
  o2a/templates/subwf.tpl
  o2a/templates/subworkflow.tpl
Due: none

Multiple small fixes to tests and setup (#1)
  .gitignore
  oozie-to-airflow/README.md
  oozie-to-airflow/converter/oozie_parser.py
  oozie-to-airflow/definitions.py
  oozie-to-airflow/init.sh
  oozie-to-airflow/mappers/decision_mapper.py
  oozie-to-airflow/mappers/dummy_mapper.py
  oozie-to-airflow/mappers/kill_mapper.py
  oozie-to-airflow/mappers/spark_mapper.py
  oozie-to-airflow/mappers/ssh_mapper.py
  oozie-to-airflow/o2a_libs/el_wf_functions.py
  oozie-to-airflow/oozie_converter.py
  oozie-to-airflow/tests/__init__.py
  oozie-to-airflow/tests/converter/__init__.py
  oozie-to-airflow/tests/converter/test_oozie_converter.py
  oozie-to-airflow/tests/mappers/__init__.py
  oozie-to-airflow/tests/mappers/test_ssh_mapper.py
  oozie-to-airflow/tests/utils/__init__.py
  oozie-to-airflow/utils/el_utils.py
Due: autoflake

Add unit tests to el_basic_functions and oozie_parser (#4)
  oozie-to-airflow/tests/converter/test_oozie_parser.py
  oozie-to-airflow/tests/o2a_libs/__init__.py
  oozie-to-airflow/tests/o2a_libs/test_el_basic_functions.py
Due: autoflake

Update README and CONTRIBUTING (#3)
  CONTRIBUTING.md
  oozie-to-airflow/README.md
Due: none

Update readme with more information regarding limitations. (#5)
  oozie-to-airflow/README.md
Due: none

Merge pull request #11 from GoogleCloudPlatform/travis-ci
  .gitignore
  .travis.yml
  README.md
  oozie-to-airflow/codecov.yaml
  oozie-to-airflow/converter/oozie_parser.py
  oozie-to-airflow/converter/parsed_node.py
  oozie-to-airflow/init.sh
  oozie-to-airflow/pyproject.toml
  oozie-to-airflow/requirements.txt
Due: yamllint, autoflake

Remove o2alibs from generated DAG dependencies
  oozie-to-airflow/converter/oozie_parser.py
Due: autoflake

Add configurable date parameters to o2a converter
  oozie-to-airflow/mappers/ssh_mapper.py
  oozie-to-airflow/oozie_converter.py
  oozie-to-airflow/templates/dag.tpl
  oozie-to-airflow/tests/converter/test_oozie_converter.py
Due: autoflake

Fixed IntelliJ warnings
  oozie-to-airflow/converter/oozie_parser.py
  oozie-to-airflow/utils/el_utils.py
Due: autoflake

Add support for configuration file
  oozie-to-airflow/oozie_converter.py
Due: autoflake

Added badges to Github
  README.md
Due: none

Fixes #17 - removes duplicated badge
  README.md
Due: none

Add Pig mapper
  .gitignore
  oozie-to-airflow/converter/oozie_parser.py
  oozie-to-airflow/examples/pig/job.properties
  oozie-to-airflow/examples/pig/workflow.xml
  oozie-to-airflow/mappers/pig_mapper.py
  oozie-to-airflow/output/.gitignore
  oozie-to-airflow/templates/pig.tpl
  oozie-to-airflow/tests/mappers/test_pig_mapper.py
Due: autoflake, validate-all-workflows

Add integration tests for Pig mapper
  oozie-to-airflow/examples/pig/.gitignore
  oozie-to-airflow/examples/pig/configuration-template.properties
  oozie-to-airflow/examples/pig/id.pig
  oozie-to-airflow/examples/pig/test-data.txt
  oozie-to-airflow/integration/prepare_pig_test.bash
  oozie-to-airflow/integration/run_pig_test.bash
  oozie-to-airflow/integration/run_pig_test_with_airflow.bash
Due: none

Add unit tests for Pig mapper
  oozie-to-airflow/tests/mappers/test_pig_mapper.py
Due: autoflake

Add PrepareMixin for PigMapper
  oozie-to-airflow/converter/oozie_parser.py
  oozie-to-airflow/examples/pig/workflow.xml
  oozie-to-airflow/integration/prepare_pig_test.bash
  oozie-to-airflow/integration/run_pig_test_with_airflow.bash
  oozie-to-airflow/mappers/pig_mapper.py
  oozie-to-airflow/mappers/prepare_mixin.py
  oozie-to-airflow/scripts/prepare.sh
  oozie-to-airflow/templates/pig.tpl
  oozie-to-airflow/tests/mappers/test_pig_mapper.py
  oozie-to-airflow/tests/mappers/test_prepare_mixin.py
Due: autoflake, validate-all-workflows

Fixes #32 - black formatting in all project and enforced in TravisCI
  .travis.yml
  oozie-to-airflow/converter/__init__.py
  oozie-to-airflow/converter/oozie_parser.py
  oozie-to-airflow/converter/parsed_node.py
  oozie-to-airflow/definitions.py
  oozie-to-airflow/mappers/__init__.py
  oozie-to-airflow/mappers/decision_mapper.py
  oozie-to-airflow/mappers/dummy_mapper.py
  oozie-to-airflow/mappers/kill_mapper.py
  oozie-to-airflow/mappers/null_mapper.py
  oozie-to-airflow/mappers/pig_mapper.py
  oozie-to-airflow/mappers/prepare_mixin.py
  oozie-to-airflow/mappers/spark_mapper.py
  oozie-to-airflow/mappers/ssh_mapper.py
  oozie-to-airflow/o2a_libs/el_basic_functions.py
  oozie-to-airflow/o2a_libs/el_wf_functions.py
  oozie-to-airflow/oozie_converter.py
  oozie-to-airflow/tests/converter/test_oozie_converter.py
  oozie-to-airflow/tests/converter/test_oozie_parser.py
  oozie-to-airflow/tests/converter/test_parsed_node.py
  oozie-to-airflow/tests/mappers/test_decision_mapper.py
  oozie-to-airflow/tests/mappers/test_dummy_mapper.py
  oozie-to-airflow/tests/mappers/test_kill_mapper.py
  oozie-to-airflow/tests/mappers/test_pig_mapper.py
  oozie-to-airflow/tests/mappers/test_prepare_mixin.py
  oozie-to-airflow/tests/mappers/test_spark_mapper.py
  oozie-to-airflow/tests/mappers/test_ssh_mapper.py
  oozie-to-airflow/tests/o2a_libs/test_el_basic_functions.py
  oozie-to-airflow/tests/utils/test_el_utils.py
  oozie-to-airflow/tests/utils/test_xml_utils.py
  oozie-to-airflow/utils/__init__.py
  oozie-to-airflow/utils/el_utils.py
  oozie-to-airflow/utils/xml_utils.py
Due: yamllint, autoflake

Fixes #34 Only build master branch when updated
  .travis.yml
Due: yamllint

Switched to travis-ci.org
  README.md
Due: none

Sub-workflow mapper implementation
  .travis.yml
  oozie-to-airflow/converter/oozie_parser.py
  oozie-to-airflow/examples/subwf/job.properties
  oozie-to-airflow/examples/subwf/workflow.xml
  oozie-to-airflow/integration/run_subwf_test_with_airflow.bash
  oozie-to-airflow/mappers/base_mapper.py
  oozie-to-airflow/mappers/dummy_mapper.py
  oozie-to-airflow/mappers/pig_mapper.py
  oozie-to-airflow/mappers/spark_mapper.py
  oozie-to-airflow/mappers/ssh_mapper.py
  oozie-to-airflow/mappers/subwf_mapper.py
  oozie-to-airflow/oozie_converter.py
  oozie-to-airflow/templates/dag_subwf.tpl
  oozie-to-airflow/templates/subwf.tpl
  oozie-to-airflow/tests/converter/test_oozie_converter.py
  oozie-to-airflow/tests/mappers/test_subwf_mapper.py
Due: yamllint, autoflake, validate-all-workflows

Fix Sub-workflow's use of input arguments in the factory function
  oozie-to-airflow/mappers/subwf_mapper.py
  oozie-to-airflow/templates/dag.tpl
  oozie-to-airflow/templates/dag_subwf.tpl
  oozie-to-airflow/templates/subwf.tpl
Due: autoflake

Finalize the decision control node mapper
  oozie-to-airflow/examples/decision/.gitignore
  oozie-to-airflow/examples/decision/configuration-template.properties
  oozie-to-airflow/examples/decision/job.properties
  oozie-to-airflow/examples/decision/workflow.xml
  oozie-to-airflow/integration/run_decision_test_with_airflow.bash
  oozie-to-airflow/mappers/decision_mapper.py
  oozie-to-airflow/templates/decision.tpl
  oozie-to-airflow/tests/mappers/test_decision_mapper.py
Due: autoflake, validate-all-workflows

Add Shell action mapper
  oozie-to-airflow/converter/oozie_parser.py
  oozie-to-airflow/examples/shell/configuration-template.properties
  oozie-to-airflow/examples/shell/configuration.properties
  oozie-to-airflow/examples/shell/job.properties
  oozie-to-airflow/examples/shell/workflow.xml
  oozie-to-airflow/integration/run_shell_test_with_airflow.bash
  oozie-to-airflow/mappers/shell_mapper.py
  oozie-to-airflow/templates/shell.tpl
  oozie-to-airflow/tests/mappers/test_shell_mapper.py
Due: autoflake, validate-all-workflows

Update jinja2 from 2.10 to 2.10.1
  oozie-to-airflow/requirements.txt
Due: none

Unify logger
  oozie-to-airflow/converter/oozie_converter.py
  oozie-to-airflow/converter/parser.py
  oozie-to-airflow/utils/el_utils.py
Due: autoflake

Add render_template function
  oozie-to-airflow/converter/oozie_converter.py
  oozie-to-airflow/mappers/decision_mapper.py
  oozie-to-airflow/mappers/dummy_mapper.py
  oozie-to-airflow/mappers/kill_mapper.py
  oozie-to-airflow/mappers/pig_mapper.py
  oozie-to-airflow/mappers/shell_mapper.py
  oozie-to-airflow/mappers/spark_mapper.py
  oozie-to-airflow/mappers/ssh_mapper.py
  oozie-to-airflow/mappers/subworkflow_mapper.py
  oozie-to-airflow/utils/template_utils.py
Due: autoflake

Scan only tests directory by pytest
  oozie-to-airflow/run_tests.sh
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  autoflake: any of: \.py$
  validate-all-workflows: any of: \workflow.xml$
