Repository GoogleCloudPlatform/oozie-to-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, autoflake, validate-all-workflows

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml .
  language: python

autoflake:
  name: Autoflake - removes unused imports and variables
  entry: autoflake
  language: python
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variable
  - --recursive

validate-all-workflows:
  name: Validates all oozie workflows
  language: system
  entry: ./bin/o2a-validate-all-workflows

Don't ask about default browser
  bin/o2a-run-sys-test
Due: none

Fix flake8 errors
  o2a/converter/oozie_converter.py
Due: autoflake

Fix flake8 errors (#511)
  o2a/converter/oozie_converter.py
Due: autoflake

hive operator with unit tests
  examples/hive/configuration.template copy.properties
  o2a/converter/oozie_converter.py
  o2a/mappers/hive_mapper.py
  o2a/o2a_libs/property_utils.py
  o2a/templates/hive/dataproc_hive.tpl
  o2a/templates/hive/hive.tpl
  o2a/utils/file_utils.py
  requirements.txt
  tests/mappers/test_hive_mapper.py
  tests/test_templates.py
  tests/utils/test_config_extractors.py
Due: autoflake

conversion hive action nodes
  .gitignore
  dataproc/example-map-reduce-job.sh
  dataproc/oozie-5.1.sh
  examples/hive/hdfs/workflow.xml
  o2a/converter/mappers.py
  o2a/converter/oozie_converter.py
  o2a/converter/task.py
  o2a/mappers/action_mapper.py
  o2a/mappers/base_mapper.py
  o2a/mappers/hive_mapper.py
  o2a/o2a_libs/el_parser.py
  o2a/schema/all-schemas-1.0.xsd
  o2a/templates/dag_body.tpl
  o2a/templates/hive/hive.tpl
  pylintrc
  tests/mappers/test_hive_mapper.py
  tests/test_templates.py
Due: autoflake, validate-all-workflows

conversion of shell actions and prepare nodes
  o2a/mappers/hive_mapper.py
  o2a/tasks/shell/__init__.py
Due: autoflake

conversion of shell actions and prepare nodes
  examples/shell/hdfs/workflow.xml
  o2a/mappers/extensions/prepare_mapper_extension.py
  o2a/mappers/shell_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/tasks/shell/shell_local_task.py
  o2a/tasks/spark_local_task.py
  o2a/templates/prepare/prepare.tpl
  o2a/templates/prepare/prepare_command.tpl
  o2a/templates/shell/shell.tpl
  o2a/templates/shell/shell_dataproc.tpl
  o2a/templates/spark/spark.tpl
  tests/converter/test_oozie_converter.py
  tests/mappers/extensions/test_prepare_mapper_extension.py
  tests/mappers/test_distcp_mapper.py
  tests/mappers/test_git_mapper.py
  tests/mappers/test_mapreduce_mapper.py
  tests/mappers/test_pig_mapper.py
  tests/mappers/test_shell_mapper.py
  tests/mappers/test_spark_mapper.py
  tests/test_templates.py
Due: autoflake, validate-all-workflows

ignore .box and attijari examples
  .gitignore
Due: none

ansible requirements.yml
  envs/dev/ansible/requirements.yml
Due: yamllint

changes after testing sample jobs
  .gitignore
  .vscode/settings.json
  o2a/converter/renderers.py
  o2a/mappers/subworkflow_mapper.py
  o2a/o2a.py
  o2a/schema/all-schemas-1.0.xsd
  o2a/schema/oozie-workflow-0.5.xsd
  requirements.txt
Due: autoflake

get tests passing, remove git.sh tests
  bin/o2a-run-all-unit-tests
  requirements.txt
  tests/script_tests/test_git.py
Due: autoflake

move out dataproc spark
  o2a/mappers/gcp_spark_mapper.py
  o2a/templates/gcp-spark.tpl
  tests/mappers/test_gcp_spark_mapper.py
Due: autoflake

render as SparkSubmitOperator
  o2a/mappers/spark_mapper.py
  o2a/templates/spark.tpl
  tests/mappers/test_spark_mapper.py
Due: autoflake

remove xdist b/c sporadic test issues
  bin/o2a-run-all-unit-tests
  requirements.txt
Due: none

fix spark template tests, prep for shell changes
  o2a/mappers/gcp_shell_mapper.py
  o2a/templates/gcp-shell.tpl
  tests/mappers/test_gcp_shell_mapper.py
  tests/test_templates.py
Due: autoflake

renames
  o2a/templates/gcp_shell.tpl
  o2a/templates/gcp_spark.tpl
Due: none

match name
  tests/test_templates.py
Due: autoflake

fix gcp template
  o2a/templates/gcp_shell.tpl
Due: none

fix oozie conv test
  tests/converter/test_oozie_converter.py
Due: autoflake

bash operator with no gcloud...pig prefix
  o2a/mappers/shell_mapper.py
  o2a/templates/shell.tpl
  tests/mappers/test_shell_mapper.py
  tests/test_templates.py
Due: autoflake

get git.sh working
  o2a/scripts/git.sh
  tests/script_tests/test_git.py
Due: autoflake

feed creds to spark mapper
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/credentials_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/o2a_libs/property_utils.py
  o2a/templates/spark.tpl
  o2a/utils/credential_extractor.py
Due: autoflake

tests for credentials
  o2a/mappers/credentials_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/utils/credential_extractor.py
  tests/converter/test_workflow_xml_parser.py
  tests/mappers/test_credential_mapper.py
  tests/mappers/test_spark_mapper.py
  tests/o2a_libs/test_property_utils.py
  tests/test_templates.py
  tests/utils/test_credential_extractor.py
Due: autoflake

chore(deps): update apache-airflow to patched 1.10.15version
  requirements.txt
Due: none

fix(docs): update README to indicate project is no longer maintained
  README.md
Due: none

fix(docs): update README to indicate project is no longer maintained (#691)
  README.md
Due: none

chore: remove .jar files as per security issue
  examples/childwf/hdfs/lib/wordcount.jar
Due: none

chore: remove .jar files as per security issue
  examples/java/hdfs/lib/demo-java-main.jar
Due: none

chore: remove .jar files as per security issue
  examples/mapreduce/hdfs/lib/wordcount.jar
Due: none

Delete oozie-examples-4.3.0.jar
  examples/spark/hdfs/lib/oozie-examples-4.3.0.jar
Due: none

chore: remove .jar files as per security issue (#693)
  examples/childwf/hdfs/lib/wordcount.jar
  examples/java/hdfs/lib/demo-java-main.jar
  examples/mapreduce/hdfs/lib/wordcount.jar
  examples/spark/hdfs/lib/oozie-examples-4.3.0.jar
Due: none

Update mappers and templates for control nodes
  o2a/converter/workflow.py
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/base_mapper.py
  o2a/mappers/decision_mapper.py
  o2a/mappers/dummy_mapper.py
  o2a/o2a_libs/el_wf_functions.py
  o2a/templates/decision.tpl
  o2a/templates/dummy.tpl
  o2a/templates/kill.tpl
  o2a/templates/workflow_dot.tpl
  tests/converter/test_oozie_converter.py
  tests/test_templates.py
Due: autoflake

Update templates and mappers for action node
  o2a/mappers/distcp_mapper.py
  o2a/mappers/email_mapper.py
  o2a/mappers/fs_mapper.py
  o2a/mappers/git_mapper.py
  o2a/mappers/hive_mapper.py
  o2a/mappers/java_mapper.py
  o2a/mappers/mapreduce_mapper.py
  o2a/mappers/pig_mapper.py
  o2a/mappers/shell_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/mappers/ssh_mapper.py
  o2a/mappers/subworkflow_mapper.py
  o2a/templates/distcp.tpl
  o2a/templates/email.tpl
  o2a/templates/fs_op.tpl
  o2a/templates/git.tpl
  o2a/templates/hive.tpl
  o2a/templates/http.tpl
  o2a/templates/java.tpl
  o2a/templates/mapreduce.tpl
  o2a/templates/pig.tpl
  o2a/templates/prepare.tpl
  o2a/templates/shell.tpl
  o2a/templates/spark.tpl
  o2a/templates/ssh.tpl
  tests/converter/test_oozie_converter.py
  tests/mappers/test_hive_mapper.py
  tests/mappers/test_java_mapper.py
  tests/mappers/test_spark_mapper.py
  tests/test_templates.py
Due: autoflake

Update requirements
  requirements.txt
Due: none

Update documentation
  README.md
  dataproc/oozie-5.2.sh
Due: none

Update templates
  o2a/templates/decision.tpl
  o2a/templates/hive.tpl
  o2a/templates/subwf.tpl
  o2a/templates/subworkflow.tpl
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  autoflake: any of: \.py$
  validate-all-workflows: any of: \workflow.xml$
