Repository GoogleCloudPlatform/oozie-to-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, autoflake, validate-all-workflows

.pre-commit-config.yaml:

# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
repos:
  - repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
      - id: black
        name: Formats python files using black
        language_version: python3.6
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.6
    hooks:
      - id: insert-license
        name: Add licence for all XML, md files
        files: \.xml$|\.md$
        exclude: ^\.github/.*$
        args:
          - --comment-style
          - <!--| | -->
      - id: insert-license
        name: Add licence for all .pig files
        files: \.pig$
        args:
          - --comment-style
          - "-- "
      - id: insert-license
        name: Add licence for all python/yaml/property files
        files: \.py$|\.properties$|\.yaml$|\.yml$
      - id: insert-license
        name: Add licence for all Jinja templates
        files: \.tpl$
        args:
          - --comment-style
          - "{# | | #}"
      - id: forbid-tabs
  - repo: local
    hooks:
      - id: yamllint
        name: Check yaml files with yamllint
        entry: yamllint -c yamllint-config.yml .
        language: python
        types: [file, yaml]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-encoding-pragma
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: git://github.com/luismayta/pre-commit-mypy
    rev: 0.1.1
    hooks:
      - id: mypy
        name: Checks typing annotations consistency with mypy
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.3.1
    hooks:
      - id: pylint
        name: Checks for common programming errors with pylint
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v1.4.0
    hooks:
      - id: doctoc
        files: ^README\.md|CONTRIBUTING\.md$
        args:
          - "--maxlevel"
          - "2"
  - repo: local
    hooks:
      - id: autoflake
        name: Autoflake - removes unused imports and variables
        entry: autoflake
        language: python
        files: \.py$
        args: ['--in-place', '--remove-all-unused-imports',
               '--remove-unused-variable', '--recursive']
      - id: pytest
        name: Runs all unit tests with pytest
        entry: ./bin/o2a-run-all-unit-tests
        language: script
        pass_filenames: false
        stages: ['push']
        always_run: true
      - id: check-bash-syntax
        name: Check Shell scripts syntax corectness
        language: docker_image
        entry: koalaman/shellcheck:stable -e SC1091 -e SC2181
        types: [shell]
      - id: validate-all-workflows
        name: Validates all oozie workflows
        language: system
        entry: ./bin/o2a-validate-all-workflows
        files: \workflow.xml$

Improve compatibility with older Bash version
  bin/o2a-run-sys-test
Due: none

Update o2a-run-sys-test
  bin/o2a-run-sys-test
Due: none

Better installation description
  CONTRIBUTING.md
Due: none

Move cloud setup to README
  CONTRIBUTING.md
  README.md
Due: none

Better installation description (#377)
  CONTRIBUTING.md
Due: none

Improve compatibility with older Bash version (#376)
  bin/o2a-run-sys-test
Due: none

Stronger emphasis on copying o2a_libs
  README.md
Due: none

Fixed small spelling issues/typos in bash scripts
  CONTRIBUTING.md
  bin/o2a-generate-dependency-graph
  bin/o2a-package-upload
  bin/o2a-package-upload-test
  bin/o2a-run-all-unit-tests
  bin/o2a-run-sys-test
  images/o2a-dependency-cycles.png
Due: none

Add push flag to precommit on travis
  .travis.yml
Due: yamllint

Fixed small spelling issues/typos in bash scripts (#383)
  CONTRIBUTING.md
  bin/o2a-generate-dependency-graph
  bin/o2a-package-upload
  bin/o2a-package-upload-test
  bin/o2a-run-all-unit-tests
  bin/o2a-run-sys-test
  images/o2a-dependency-cycles.png
Due: none

Add push flag to precommit on travis (#384)
  .travis.yml
Due: yamllint

Stronger emphasis on copying o2a_libs (#379)
  README.md
Due: none

Move cloud setup to README (#378)
  CONTRIBUTING.md
  README.md
Due: none

Add wf:functions to known limitations
  README.md
Due: none

fixup! Add wf:functions to known limitations
  README.md
Due: none

Add wf:functions to known limitations (#373)
  README.md
Due: none

Add XML escaping of dataproc_hadoop_properties in the MapReduce template
  o2a/o2a_libs/property_utils.py
  o2a/templates/email.tpl
  o2a/templates/fs_op.tpl
  o2a/templates/git.tpl
  o2a/templates/hive.tpl
  o2a/templates/http.tpl
  o2a/templates/java.tpl
  o2a/templates/macros/props.tpl
  o2a/templates/mapreduce.tpl
  o2a/templates/pig.tpl
  o2a/templates/prepare.tpl
  o2a/templates/shell.tpl
  o2a/templates/spark.tpl
  o2a/templates/ssh.tpl
  o2a/templates/xml_escaped_props.tpl
  tests/o2a_libs/test_property_utils.py
Due: autoflake

Add node notifications
  examples/demo/job.properties
  examples/mapreduce/job.properties
  o2a/converter/task_group.py
  o2a/converter/workflow.py
  o2a/o2a.py
  o2a/transformers/add_node_notificaton_transformer.py
  tests/transformers/test_add_node_notification_transformer.py
Due: autoflake

Introduce ControlTaskGroup and ActionTaskGroup
  o2a/converter/oozie_converter.py
  o2a/converter/task_group.py
Due: autoflake

Add notifications documentation to README
  README.md
  images/childwf_with_notifications.png
  images/childwf_without_notifications.png
Due: none

Revert "Bump tzlocal from 1.5.1 to 2.0.0 (#385)"
  requirements.txt
Due: none

Revert "Bump tzlocal from 1.5.1 to 2.0.0 (#385)" (#387)
  requirements.txt
Due: none

Add node notifications (#320)
  README.md
  examples/demo/job.properties
  examples/mapreduce/job.properties
  images/childwf_with_notifications.png
  images/childwf_without_notifications.png
  o2a/converter/oozie_converter.py
  o2a/converter/task_group.py
  o2a/converter/workflow.py
  o2a/o2a.py
  o2a/o2a_libs/property_utils.py
  o2a/templates/email.tpl
  o2a/templates/fs_op.tpl
  o2a/templates/git.tpl
  o2a/templates/hive.tpl
  o2a/templates/http.tpl
  o2a/templates/java.tpl
  o2a/templates/macros/props.tpl
  o2a/templates/mapreduce.tpl
  o2a/templates/pig.tpl
  o2a/templates/prepare.tpl
  o2a/templates/shell.tpl
  o2a/templates/spark.tpl
  o2a/templates/ssh.tpl
  o2a/templates/xml_escaped_props.tpl
  o2a/transformers/add_node_notificaton_transformer.py
  tests/o2a_libs/test_property_utils.py
  tests/transformers/test_add_node_notification_transformer.py
Due: autoflake

Added latest dependency graph
  images/o2a-dependencies.png
  images/o2a-dependency-cycles.png
Due: none

Added latest dependency graph (#388)
  images/o2a-dependencies.png
  images/o2a-dependency-cycles.png
Due: none

Updates version
  setup.py
Due: autoflake

Improve information about EL-functions in README
  README.md
Due: none

Improve information about EL-functions in README (#391)
  README.md
Due: none

Updates version (#389)
  setup.py
Due: autoflake

Add Hadoop counters
  README.md
Due: none

Updated setup scripts to handle clean install case
  MANIFEST.in
  bin/o2a-package-upload
  bin/o2a-package-upload-test
  o2a/mappers/distcp_mapper.py
  setup.py
Due: autoflake

Fixed INFO message printed by black import
  bin/o2a
  o2a/converter/renderers.py
Due: autoflake

Fixes Latest Mypy errors
  o2a/o2a_libs/el_fs_functions.py
  tests/test_templates.py
Due: autoflake

Fix typo in docs- open-oozie-webui
  bin/o2a-run-sys-test
Due: none
