Repository GoogleCloudPlatform/oozie-to-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, autoflake, validate-all-workflows

yamllint:
  name: Check yaml files with yamllint
  entry: yamllint -c yamllint-config.yml .
  language: python

autoflake:
  name: Autoflake - removes unused imports and variables
  entry: autoflake
  language: python
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variable
  - --recursive

validate-all-workflows:
  name: Validates all oozie workflows
  language: system
  entry: ./bin/o2a-validate-all-workflows

Fix system tests: add missing trigger_rule param to Task
  o2a/mappers/fs_mapper.py
  o2a/mappers/shell_mapper.py
Due: autoflake

Fix system tests: remove unnecessary shlex usage
  o2a/mappers/shell_mapper.py
  tests/mappers/test_shell_mapper.py
Due: autoflake

Fix system tests: unify outputDir name to output-data as in all cases
  examples/childwf/job.properties
Due: none

Fix system tests: fix import syntax in subworkflow
  o2a/mappers/subworkflow_mapper.py
Due: autoflake

Fix incorrect bolding in Hive in README
  README.md
Due: none

Add DistCp mapper (#204)
  README.md
  bin/o2a-run-sys-test-complete
  examples/distcp/configuration.template.properties
  examples/distcp/hdfs/input-data/test-data.txt
  examples/distcp/hdfs/workflow.xml
  examples/distcp/job.properties
  o2a/converter/mappers.py
  o2a/mappers/distcp_mapper.py
  o2a/schema/all-schemas-1.0.xsd
  o2a/schema/distcp-action-1.0.xsd
  o2a/templates/distcp.tpl
  o2a/templates/hadoop_command.tpl
  o2a/utils/el_utils.py
  tests/converter/test_oozie_parser.py
  tests/mappers/test_distcp_mapper.py
  tests/utils/test_el_utils.py
Due: autoflake, validate-all-workflows

Fixed link to travis
  README.md
Due: none

Update mypy from 0.701 to 0.710
  requirements.txt
Due: none

Update paramiko from 2.5.0 to 2.6.0
  requirements.txt
Due: none

Update mypy from 0.710 to 0.711
  requirements.txt
Due: none

Convert dependencies in convert phase
  o2a/converter/oozie_converter.py
  o2a/converter/parser.py
  tests/converter/test_oozie_converter.py
  tests/converter/test_oozie_parser.py
Due: autoflake

Remove trigger rules from mappers
  o2a/converter/parsed_action_node.py
  o2a/mappers/action_mapper.py
  o2a/mappers/base_mapper.py
  o2a/mappers/decision_mapper.py
  o2a/mappers/distcp_mapper.py
  o2a/mappers/dummy_mapper.py
  o2a/mappers/extensions/prepare_mapper_extension.py
  o2a/mappers/fs_mapper.py
  o2a/mappers/git_mapper.py
  o2a/mappers/hive_mapper.py
  o2a/mappers/kill_mapper.py
  o2a/mappers/mapreduce_mapper.py
  o2a/mappers/pig_mapper.py
  o2a/mappers/shell_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/mappers/ssh_mapper.py
  o2a/mappers/subworkflow_mapper.py
  tests/converter/test_parsed_action_node.py
  tests/mappers/extensions/test_prepare_mapper_extension.py
  tests/mappers/test_base_mapper.py
  tests/mappers/test_decision_mapper.py
  tests/mappers/test_distcp_mapper.py
  tests/mappers/test_dummy_mapper.py
  tests/mappers/test_end_mapper.py
  tests/mappers/test_fs_mapper.py
  tests/mappers/test_git_mapper.py
  tests/mappers/test_hive_mapper.py
  tests/mappers/test_kill_mapper.py
  tests/mappers/test_mapreduce_mapper.py
  tests/mappers/test_pig_mapper.py
  tests/mappers/test_shell_mapper.py
  tests/mappers/test_spark_mapper.py
  tests/mappers/test_ssh_mapper.py
  tests/mappers/test_start_mapper.py
  tests/mappers/test_subworkflow_mapper.py
Due: autoflake

Move convert steps to converter
  o2a/converter/oozie_converter.py
  o2a/converter/parsed_action_node.py
  o2a/converter/parser.py
  o2a/mappers/base_mapper.py
  o2a/mappers/distcp_mapper.py
  o2a/mappers/extensions/prepare_mapper_extension.py
  o2a/mappers/fs_mapper.py
  o2a/mappers/git_mapper.py
  o2a/mappers/hive_mapper.py
  o2a/mappers/mapreduce_mapper.py
  o2a/mappers/pig_mapper.py
  o2a/mappers/shell_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/mappers/start_mapper.py
  tests/converter/test_oozie_converter.py
  tests/converter/test_oozie_parser.py
  tests/converter/test_parsed_action_node.py
  tests/mappers/test_base_mapper.py
  tests/mappers/test_distcp_mapper.py
  tests/mappers/test_end_mapper.py
  tests/mappers/test_fs_mapper.py
  tests/mappers/test_hive_mapper.py
  tests/mappers/test_kill_mapper.py
  tests/mappers/test_pig_mapper.py
  tests/mappers/test_start_mapper.py
Due: autoflake

Add more information/colors to DOT output (#249)
  o2a/converter/oozie_converter.py
  o2a/converter/relation.py
  o2a/templates/workflow_dot.tpl
  tests/converter/test_oozie_converter.py
Due: autoflake

Update isort from 4.3.20 to 4.3.21
  requirements.txt
Due: none

Updates dependency graphs of o2a to reflect latest version
  images/o2a-dependecy-cycles.png
  images/o2a-dependencies.png
Due: none

Update doctree by precommit (#258)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
Due: yamllint

Publish artifacts on GCS (#251)
  .travis.yml
  .travis/o2a-build-artifacts-sa.json.enc
  bin/o2a-generate-index
  bin/o2a-run-all-conversions
  yamllint-config.yml
Due: yamllint

Grammar based EL expressions transpiler (#253)
  o2a/o2a_libs/el_parser.py
  requirements.txt
  tests/o2a_libs/test_el_parser.py
Due: autoflake

Introduce transformer concept
  o2a/converter/oozie_converter.py
  o2a/converter/task.py
  o2a/converter/workflow.py
  o2a/mappers/base_mapper.py
  o2a/mappers/end_mapper.py
  o2a/mappers/kill_mapper.py
  o2a/o2a.py
  o2a/transformers/__init__.py
  o2a/transformers/base_transformer.py
  o2a/transformers/remove_end_transformer.py
  o2a/transformers/remove_kill_transformer.py
  o2a/transformers/remove_start_transformer.py
  tests/converter/test_oozie_converter.py
  tests/mappers/test_end_mapper.py
  tests/mappers/test_hive_mapper.py
  tests/mappers/test_kill_mapper.py
  tests/mappers/test_start_mapper.py
  tests/transformers/__init__.py
  tests/transformers/test_remove_end_transformer.py
  tests/transformers/test_remove_kill_transformer.py
  tests/transformers/test_remove_start_transformer.py
Due: autoflake

Remove inacccessible nodes Close #254
  o2a/o2a.py
  o2a/transformers/remove_inaccessible_node_transformer.py
  tests/transformers/test_inaccessible_node_transformer.py
Due: autoflake

Add advanedflow example
  bin/o2a-run-sys-test-complete
  examples/advancedflow/configuration.template.properties
  examples/advancedflow/hdfs/workflow.xml
  examples/advancedflow/job.properties
Due: validate-all-workflows

Simplifying OozieConverter (#262)
  o2a/converter/oozie_converter.py
  o2a/converter/parser.py
  o2a/converter/property_parser.py
  o2a/mappers/subworkflow_mapper.py
  o2a/o2a_libs/property_utils.py
  tests/converter/test_oozie_converter.py
  tests/converter/test_oozie_parser.py
  tests/mappers/test_subworkflow_mapper.py
Due: autoflake

Rename OozieParser class to WorkflowXmlParser Close #263 (#272)
  o2a/converter/oozie_converter.py
  o2a/converter/workflow_xml_parser.py
  tests/converter/test_oozie_converter.py
  tests/converter/test_workflow_xml_parser.py
Due: autoflake

Handle errors using the error handler task (#255)
  examples/advancedflow/hdfs/workflow.xml
  o2a/converter/oozie_converter.py
  o2a/converter/parsed_action_node.py
  o2a/converter/task.py
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/join_mapper.py
  o2a/templates/dag_body.tpl
  o2a/templates/workflow_dot.tpl
  tests/converter/test_oozie_converter.py
  tests/converter/test_parsed_action_node.py
Due: autoflake, validate-all-workflows

Fix props declaration in the Hive template (#277)
  o2a/templates/hive.tpl
Due: none

Add fork/join transformers Close #267 #268 (#269)
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/fork_mapper.py
  o2a/o2a.py
  o2a/transformers/remove_fork_transformer.py
  o2a/transformers/remove_join_transformer.py
  tests/transformers/test_remove_fork_transformer.py
  tests/transformers/test_remove_join_transformer.py
Due: autoflake

Fix various typing errors (#281)
  o2a/mappers/git_mapper.py
  o2a/mappers/mapreduce_mapper.py
  o2a/mappers/spark_mapper.py
Due: autoflake

Add more assertions to TestOozieExamples Close #264 (#284)
  tests/converter/test_workflow_xml_parser.py
Due: autoflake

Remove setters from ParsedActionNode
  o2a/converter/parsed_action_node.py
  o2a/converter/workflow_xml_parser.py
  tests/converter/test_parsed_action_node.py
Due: autoflake

Remove getters from ParsedActionNode
  o2a/converter/oozie_converter.py
  o2a/converter/parsed_action_node.py
  o2a/converter/workflow.py
  o2a/converter/workflow_xml_parser.py
  o2a/transformers/remove_inaccessible_node_transformer.py
  tests/converter/test_oozie_converter.py
  tests/converter/test_parsed_action_node.py
  tests/converter/test_workflow_xml_parser.py
  tests/transformers/test_inaccessible_node_transformer.py
  tests/transformers/test_remove_kill_transformer.py
Due: autoflake

Remove unused field
  o2a/converter/parsed_action_node.py
Due: autoflake

Split ParsedActionNode to two classes
  o2a/converter/oozie_converter.py
  o2a/converter/parsed_action_node.py
  o2a/converter/renderers.py
  o2a/converter/task_group.py
  o2a/converter/workflow.py
  o2a/templates/dag_body.tpl
  o2a/templates/workflow_dot.tpl
  o2a/transformers/remove_end_transformer.py
  tests/converter/test_oozie_converter.py
  tests/converter/test_parsed_action_node.py
  tests/converter/test_renderers.py
  tests/converter/test_task_groups.py
  tests/converter/test_workflow_xml_parser.py
  tests/test_templates.py
Due: autoflake

Fixes spaces in prepare.sh (#285)
  o2a/scripts/prepare.sh
  tests/script_tests/test_git.py
  tests/script_tests/test_prepare.py
  tests/script_tests/utils.py
Due: autoflake

Fix converting relations (#289)
  o2a/converter/oozie_converter.py
  o2a/converter/task_group.py
  tests/converter/test_oozie_converter.py
Due: autoflake

Remove no-name-in-module from pylintrc (#287)
  pylintrc
Due: none

Change 'Current limitations' to 'Known limitations' in README (#291)
  README.md
Due: none

Remove obsolete limitation which was already fixed from README
  README.md
Due: none

Pass transformers to SubworfklowMapper Close #266 (#288)
  o2a/converter/oozie_converter.py
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/subworkflow_mapper.py
Due: autoflake

Add job-xml element support (#286)
  examples/mapreduce/hdfs/job-queue-conf.xml
  examples/mapreduce/hdfs/workflow.xml
  o2a/converter/mappers.py
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/action_mapper.py
  o2a/mappers/dummy_mapper.py
  o2a/mappers/subworkflow_mapper.py
  o2a/o2a_libs/property_utils.py
  o2a/utils/config_extractors.py
  tests/mappers/test_action_mapper.py
  tests/mappers/test_distcp_mapper.py
  tests/mappers/test_fs_mapper.py
  tests/mappers/test_git_mapper.py
  tests/mappers/test_hive_mapper.py
  tests/mappers/test_mapreduce_mapper.py
  tests/mappers/test_pig_mapper.py
  tests/mappers/test_shell_mapper.py
  tests/mappers/test_spark_mapper.py
  tests/mappers/test_ssh_mapper.py
  tests/utils/test_config_extractors.py
Due: autoflake, validate-all-workflows

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  autoflake: any of: \.py$
  validate-all-workflows: any of: \workflow.xml$
